- present service do |present_service|

	%section.clearfix[service]
		%figure
			= present_service.symbol
		%header
			= present_service.name
		.column_1
			= present_service.description
		.column_2
			%ul= render partial: 'skills/skill', collection: service.skills