- title "WORK"

- content_for :javascript do
	:coffeescript
		jQuery ($)->
		  $("#clients").contentcarousel()
		  $("#gallery a").touchGallery()
		
		
%section#clients
	.carousel
		=render collection