- title "Portfolio"

- content_for :javascript do
	= javascript_include_tag 'jquery.touch-gallery-1.0.0'
	= javascript_include_tag 'jquery.contentcarousel'
	:javascript
		$(document).ready(function(){
			$('#clients').contentcarousel();
			$('#gallery a').touchGallery();
		});
		
		
%section#clients
	.carousel
		=render collection