- title "WORK"

- content_for :javascript do
  :coffeescript
    jQuery ($)->
      $("#clients").contentcarousel()
      $("#gallery a").fancybox
        prevEffect: 'none'
        nextEffect: 'none'

                
%section#clients
  .carousel
    = render collection