- title "Portfolio"

- content_for :javascript do
	:coffeescript
		$(document).ready ->
		  $("#clients").contentcarousel()
		  $("#gallery a").touchGallery()
		
		
%section#clients
	.carousel
		=render collection