#connections {
	.connection{
		position: relative;
		img {
			float: left;
		}
		.remove {
			position: absolute; 
			top: 25%; 
			right: 5px;
			background: transparent image-url('remove_icon.png') no-repeat center center; 
			width:27px; height:27px; 
			opacity: 0.25;
		}
	}
}
