article.post { margin-bottom: 50px; padding-bottom: 20px; border-bottom: 1px solid #fff;
	.column_right { float: left; width: 80%; margin-left: 20%;}
	header { padding: 10px 0; }
	h1 { margin: 0px; font-size: 2.0em; font-family: 'polaris'; }
	h2 { margin: 0px; font-size: 1.1em; font-family: 'quicksand'; }
	p { width: 85%; margin: 0; }	
	footer { float:left; width: 20%; margin-left: -100%; padding-left: 10px;
		time { display: block; margin-top: 12px; font-size: 1.5em; font-family: 'polaris'; }
	}
}

article.post:last-of-type { padding-bottom: 0; border-bottom: none; }

#social_buttons { margin-top: 25px; padding-left: 10px;
	#twitter, #google, #facebook { opacity: .5; 
	  -webkit-transition: all 0.3s ease-out;  
	     -moz-transition: all 0.3s ease-out;  
	      -ms-transition: all 0.3s ease-out;  
	       -o-transition: all 0.3s ease-out;  
	          transition: all 0.3s ease-out;  
	}
	#twitter:hover, #google:hover, #facebook:hover { opacity: 1; }	
	#google { margin-top: 5px; }	
}
