section.user { padding-left: 15px;
	p { 
		float: left;
		width: 33em;
		margin: 0;
		font-size: 1.50em;
		font-family: 'Quicksand', sans-serif; 
	}
	footer { 
		float: right;
		margin: 0;
		background: hsla(0, 100%, 100%, 0.6) url(/assets/bg_pattern_2.png) repeat;
		padding: 20px;
		border: 1px solid hsla(0, 0%, 0%, 0.035);
		figure { 
			padding: 10px;
			background-color: hsla(32, 88%, 97%, 1);
			border: 1px solid hsla(0, 0%, 89%, 0.8);
		}
		img {
			border: 1px solid hsla(0, 0%, 73%, 0.05);
		}
		a.resume {
			display: inline-block;
			width: 210px;
			margin: 15px 7px 0;
			background: #D14B3A;
			padding: 5px 0 1px;
			color: #222;
			text-align: center;
			font-family: 'airplane', sans-serif;
			font-size: 2.308em;
			line-height: 1.5em;
		}
		a.resume:hover {
			width: 208px;
			padding: 4px 0 0;
			border: 1px solid #B0281A;
		}
		#social_buttons {
			margin: 15px 0;
			padding: 0 6px;
		}
	}
	.twtr-widget {
		.twtr-hd {
			display: none;
		}
		p {
			font-size: 1em;
		}
	}
}