section.user { padding-left: 15px;
	p { 
		float: left;
		width: 32em;
		margin: 0;
		font: normal 160%/1.55 'Vollkorn', serif;
	}
	footer { 
		float: right;
		margin: 0;
		background: hsla(0, 100%, 100%, 0.6) url(/assets/bg_pattern_2.png) repeat;
		padding: 20px;
		border: 1px solid hsla(0, 0%, 0%, 0.035);
		figure { 
			padding: 10px;
			background-color: hsla(32, 88%, 97%, 1);
			border: 1px solid hsla(0, 0%, 89%, 0.8);
		}
		img {
			border: 1px solid hsla(0, 0%, 73%, 0.05);
		}
		a.resume {
			display: inline-block;
			width: 208px;
			margin: 15px 7px 0;
			background: hsl(7, 62%, 52%);
			padding-top: 5px;
			border: 1px solid transparent;
			color: #222;
			text-align: center;
			font-family: 'airplane', sans-serif;
			font-size: 230%;
			line-height: 1.5em;
		}
		a.resume:hover {
			border: 1px solid hsl(7, 62%, 45%);
			background-image: -webkit-linear-gradient(top, transparent, hsla(0, 0%, 0%, 0.05));
			background-image:    -moz-linear-gradient(top, transparent, hsla(0, 0%, 0%, 0.05));
			background-image:      -o-linear-gradient(top, transparent, hsla(0, 0%, 0%, 0.05));
			background-image:     -ms-linear-gradient(top, transparent, hsla(0, 0%, 0%, 0.05));
			background-image:         linear-gradient(top, transparent, hsla(0, 0%, 0%, 0.05));
		}
		#social_buttons {
			margin: 15px 0;
			padding: 0 6px;
		}
	}
	.twtr-widget {
		.twtr-hd {
			display: none;
		}
		p {
			font-size: 1em;
		}
	}
}